*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width:100%;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

h1{
    color: rgb(0, 30, 255);
    font-weight: bolder;
    padding:20px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(0, 30, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}